@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="main">
    <div class="grid wide_secondary">
        <div class="auth-form">
            <div class="col l-6 auth-form-left">
                <img src="~/Assets/images/images_login/register_img.jpg" alt="" class="auth-form-img">
            </div>
            <div class="col l-6 auth-form-container">
                <div class="auth-form-header">
                    <div class="auth-form-heading">Đăng Ký</div>
                    <p class="auth-form-heading_p">Hãy đăng nhập để được hưởng đặc quyền riêng dành cho bạn</p>
                </div>
                <form action="Index" method="POST" id="form-signIn" class="auth-form_form">
                    <div class="auth-form_gr">
                        <input type="text" class="form-control" placeholder="Tài khoản" id="input-username"
                               name="Username">
                        <span class="text-warning" id="notify_username"></span>
                    </div>
                    <div class="auth-form_gr">
                        <input type="password" class="form-control" placeholder="Mật khẩu" id="input-password"
                               name="Password">
                        <span class="text-warning" id="notify_password"></span>
                    </div>
                    <div class="auth-form_gr">
                        <input type="password" class="form-control" placeholder="Xác nhận mật khẩu"
                               id="input-password-confirm">
                        <span class="text-warning" id="notify_password_confirm"></span>
                    </div>
                    <div class="auth-form_gr">
                        <input type="text" class="form-control" placeholder="Tên khách hàng" id="input-name"
                               name="Name">
                        <span class="text-warning" id="notify_name"></span>
                    </div>
                </form>
                <div class="auth-form-privacy">Thông tin của bạn sẽ được bảo mật theo <span class="privacy-span">chính sách riêng tư</span> của chúng tôi</div>
                <div class="auth-form-controls">
                    <button type="button" id="button_register" class="btn_login button-submit">
                        <span class="spinner-grow-sm" role="status" aria-hidden="true" id="spinner_button"></span>
                        Đăng Ký Ngay
                    </button>
                </div>
                <div class="login_or">Hoặc</div>
                <div class="auth-form-socials">
                    <a href="" class="btn auth-form-face">
                        <i class="fa-brands fa-square-facebook"></i>
                        &emsp;Đăng nhập với Facebook
                    </a>
                    <a href="" class="btn auth-form-gg">
                        <i class="fa-brands fa-google"></i>
                        &emsp;Đăng nhập với Google
                    </a>
                </div>
                <div class="auth-form-footer">
                    <div class="auth-form-footer_answer">Bạn đã có tài khoản?</div>
                    <a href="@Url.Action("Index", "LoginAccount")" class="auth-form-footer-link">Đăng nhập ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts  {
    <script src="~/Assets/scripts/RegisterAccount.js"></script>
}