	USE [master]
	GO
	/****** Object:  Database [E-Commerce-Glasses]    Script Date: 3/11/2024 10:42:53 PM ******/
	CREATE DATABASE [E-Commerce-Glasses]
	CONTAINMENT = NONE
	ON  PRIMARY 
	( NAME = N'E-Commerce-Glasses', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\E-Commerce-Glasses.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
	LOG ON 
	( NAME = N'E-Commerce-Glasses_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\E-Commerce-Glasses_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
	WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
	GO
	IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
	begin
	EXEC [E-Commerce-Glasses].[dbo].[sp_fulltext_database] @action = 'enable'
	end
	GO
	USE [E-Commerce-Glasses]
	GO
	/****** Object:  User [cigrcham]    Script Date: 3/11/2024 10:42:53 PM ******/
	CREATE USER [cigrcham] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
	GO
	/****** Object:  Table [dbo].[Account]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Account](
		[IdAccount] [int] IDENTITY(1,1) NOT NULL,
		[Username] [nvarchar](50) NULL,
		[Password] [nvarchar](50) NULL,
	CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
	(
		[IdAccount] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Bill]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Bill](
		[IdBild] [int] IDENTITY(1,1) NOT NULL,
		[IdConsumer] [int] NULL,
		[PercentDiscount] [float] NULL,
		[IdDetailDiscount] [int] NULL,
		[DateOfPurchase] [datetime] NULL,
		[TotalBill] [bigint] NULL,
		[TotalPay] [bigint] NULL,
		[IdDetailDelivery] [int] NULL,
		[IdDetailBill] [int] NULL,
	CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
	(
		[IdBild] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Consumer]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Consumer](
		[IdConsumer] [int] IDENTITY(1,1) NOT NULL,
		[IdAccount] [int] NULL,
		[Username] [nvarchar](200) NULL,
		[Address] [nvarchar](500) NULL,
		[DateOfBirth] [datetime] NULL,
		[NumberPhone] [nvarchar](50) NULL,
		[Image] [nvarchar](500) NULL,
		[ListCart] [nvarchar](max) NULL,
	CONSTRAINT [PK_KhachHang_1] PRIMARY KEY CLUSTERED 
	(
		[IdConsumer] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[DetailBill]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[DetailBill](
		[IdDetailBill] [int] IDENTITY(1,1) NOT NULL,
		[ListBill] [nvarchar](max) NULL,
	CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
	(
		[IdDetailBill] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Discount]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Discount](
		[IdDiscount] [int] IDENTITY(1,1) NOT NULL,
		[IdStatus] [int] NULL,
		[TitleDiscount] [nvarchar](200) NULL,
		[DateOfStart] [datetime] NULL,
		[DateOfEnd] [datetime] NULL,
		[Quantity] [bigint] NULL,
		[PercentValue] [float] NULL,
		[Image] [nvarchar](500) NULL,
		[CodeDiscount] [nvarchar](50) NULL,
	CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
	(
		[IdDiscount] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Manager]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Manager](
		[IdManager] [int] IDENTITY(1,1) NOT NULL,
		[IdAccount] [int] NULL,
		[Username] [nvarchar](200) NULL,
		[Position] [nvarchar](50) NULL,
		[PhoneNumber] [nvarchar](50) NULL,
		[Address] [nvarchar](500) NULL,
		[Image] [nvarchar](500) NULL,
		[DateOfBirth] [datetime] NULL,
	CONSTRAINT [PK_QuanLy] PRIMARY KEY CLUSTERED 
	(
		[IdManager] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Product]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Product](
		[IdProduct] [int] IDENTITY(1,1) NOT NULL,
		[IdTypeProduct] [int] NULL,
		[NameProduct] [nvarchar](500) NULL,
		[Price] [bigint] NULL,
		[Description] [nvarchar](1000) NULL,
		[Image] [nvarchar](500) NULL,
		[Discount] [float] NULL,
		[Quantity] [bigint] NULL,
		[IdTypeSale] [int] NULL,
	CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
	(
		[IdProduct] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[RateProduct]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[RateProduct](
		[IdRate] [int] IDENTITY(1,1) NOT NULL,
		[IdConsumer] [int] NULL,
		[IdProduct] [int] NULL,
		[TitleRate] [nvarchar](500) NULL,
		[ContentRate] [nvarchar](500) NULL,
		[DateOfRate] [datetime] NULL,
		[RateStar] [int] NULL,
	CONSTRAINT [PK_DanhGiaSanPham] PRIMARY KEY CLUSTERED 
	(
		[IdRate] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[StatusDelivery]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[StatusDelivery](
		[IdStatus] [int] IDENTITY(1,1) NOT NULL,
		[Status] [nvarchar](200) NULL,
	CONSTRAINT [PK_TrangThaiGiaoHang] PRIMARY KEY CLUSTERED 
	(
		[IdStatus] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[StatusDiscount]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[StatusDiscount](
		[IdStatus] [int] IDENTITY(1,1) NOT NULL,
		[Status] [nvarchar](200) NULL,
	CONSTRAINT [PK_TrangThaiKhuyenMai] PRIMARY KEY CLUSTERED 
	(
		[IdStatus] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[TypeProduct]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[TypeProduct](
		[IdTypeProduct] [int] IDENTITY(1,1) NOT NULL,
		[TypeProductName] [nvarchar](500) NULL,
	CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
	(
		[IdTypeProduct] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[TypeProductSale]    Script Date: 3/11/2024 10:42:53 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[TypeProductSale](
		[IdTypeSale] [int] IDENTITY(1,1) NOT NULL,
		[StatusProduct] [nvarchar](50) NULL,
	CONSTRAINT [PK_TypeProductSale] PRIMARY KEY CLUSTERED 
	(
		[IdTypeSale] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Consumer] FOREIGN KEY([IdConsumer])
	REFERENCES [dbo].[Consumer] ([IdConsumer])
	GO
	ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Consumer]
	GO
	ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_DetailBill] FOREIGN KEY([IdDetailBill])
	REFERENCES [dbo].[DetailBill] ([IdDetailBill])
	GO
	ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_DetailBill]
	GO
	ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Discount] FOREIGN KEY([IdDetailDiscount])
	REFERENCES [dbo].[Discount] ([IdDiscount])
	GO
	ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Discount]
	GO
	ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_StatusDelivery] FOREIGN KEY([IdDetailDelivery])
	REFERENCES [dbo].[StatusDelivery] ([IdStatus])
	GO
	ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_StatusDelivery]
	GO
	ALTER TABLE [dbo].[Consumer]  WITH CHECK ADD  CONSTRAINT [FK_Consumer_Account] FOREIGN KEY([IdAccount])
	REFERENCES [dbo].[Account] ([IdAccount])
	GO
	ALTER TABLE [dbo].[Consumer] CHECK CONSTRAINT [FK_Consumer_Account]
	GO
	ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_StatusDiscount] FOREIGN KEY([IdStatus])
	REFERENCES [dbo].[StatusDiscount] ([IdStatus])
	GO
	ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_StatusDiscount]
	GO
	ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Account] FOREIGN KEY([IdAccount])
	REFERENCES [dbo].[Account] ([IdAccount])
	GO
	ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_Account]
	GO
	ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TypeProduct] FOREIGN KEY([IdTypeProduct])
	REFERENCES [dbo].[TypeProduct] ([IdTypeProduct])
	GO
	ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TypeProduct]
	GO
	ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TypeProductSale] FOREIGN KEY([IdTypeSale])
	REFERENCES [dbo].[TypeProductSale] ([IdTypeSale])
	GO
	ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TypeProductSale]
	GO
	ALTER TABLE [dbo].[RateProduct]  WITH CHECK ADD  CONSTRAINT [FK_RateProduct_Consumer] FOREIGN KEY([IdConsumer])
	REFERENCES [dbo].[Consumer] ([IdConsumer])
	GO
	ALTER TABLE [dbo].[RateProduct] CHECK CONSTRAINT [FK_RateProduct_Consumer]
	GO
	ALTER TABLE [dbo].[RateProduct]  WITH CHECK ADD  CONSTRAINT [FK_RateProduct_Product] FOREIGN KEY([IdProduct])
	REFERENCES [dbo].[Product] ([IdProduct])
	GO
	ALTER TABLE [dbo].[RateProduct] CHECK CONSTRAINT [FK_RateProduct_Product]
	GO
	USE [master]
	GO
