:root {
    --white-color: #fff !important;
    --black-color: #000 !important;
    --text-color: #333 !important;
    --text-lighter: #ababab !important;
    --primary-color: #55d5d2  !important;
    --boder-color: #dbdbdb !important;
    --secondary-color: #eefbfb !important;
    --background-color: #f6f6f6 !important;
    --hover-color:#f58f5d !important;
}

* {
    box-sizing: inherit;
    /* kế thừa thuộc tính từ cha */
    margin: 0;
}
html {
    font-size: 62.5%;
    /* 100% tương ứng 16px, 62.5% tương ứng 10px để có thể dễ chuyển đổi qua đơn vị rem */
    line-height: 1.6rem;
    /* thuộc tính chỉnh chiều cao mỗi dòng */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row {
    display: flex;
    /* để cho tất cả các khối phần tử con nằm trên cùng 1 hàng */
    flex-wrap: wrap;
    /* nếu con có tổng độ dài nhiều hơn cha thì cho phép nhảy xuống hàng */
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* nút chung */
a {
    color: inherit;
    text-decoration: none;
}
input:focus {
    outline: none; /* Loại bỏ border khi input được focus */
}
.content-product-detail input:hover {
    cursor: pointer;
}
select:focus {
    outline: none; /* Loại bỏ border khi input được focus */
}
select:hover{
    cursor: pointer;
}
/* nút chung */
.btn {
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn:hover{
    filter: brightness(90%);
}
.hidden {
    display: none !important;
}
.separate {
    display: inline-block;
    border-left: 1px solid #dddddd;
    height: 20px;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 3px;
}
.separate_primary{
    display: inline-block;
    border-left: 1px solid var(--primary-color);
    height: 20px;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 3px;
}
.separate-width {
    display: block;
    border-bottom: 1px solid #bbbbbb;
    height: 0;
    width: 150px;
    justify-content: center;
    margin-bottom: 3px;
}

.select-input {
    min-width: 160px;
    height: 32px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.select-input-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 2px;
    padding: 0 16px;
    background-color: var(--white-color);
    list-style: none;
}

.product-items-price-new{
    color: rgb(192, 0, 0);
    font-size: 2.6rem;
    text-align: center;
    margin-left: 12px;
}
.Create_Product_body_head{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 30px;
}