@model DotNet_E_Commerce_Glasses_Web.Models.TypeProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTypeProduct }) |
    @Html.ActionLink("Back to List", "Index")
</p>
