﻿@model IEnumerable<DotNet_E_Commerce_Glasses_Web.Models.TypeProduct>

@{
    ViewBag.Title = "Loại mã khuyến mãi";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<style>

    .modal-title {
        font-size: 2.4rem;
        font-weight: bold;
    }
    .btn-close {
        font-size: 1.8rem;
    }
    .form-label{
        font-size: 1.8rem;
    }
    .form-control {
        border-color: var(--primary-color); 
        border-radius:20px;
        height: 46px;
        align-items:center;
        padding: 15px;
        font-size: 1.8rem;
    }
    .form-control::placeholder{
        color: #777;
        font-size:1.6rem;
        margin-top:5px;
    }
    .btn_tyeproduct_add {
        width: auto;
        height: 46px;
        border-radius: 20px;
        background-color: var(--primary-color);
        color: white;
        padding: 0 20px;
        font-size: 1.8rem;
    }
    .btn_typeproduct_cancel {
        width: auto;
        height: 46px;
        border-radius: 20px;
        background-color: #777;
        color: white;
        padding: 0 20px;
        font-size: 1.8rem;
    }
</style>



<div class="type_product_header1">
    <div class="bill_header_texxt">Danh sách loại sản phẩm</div>
    <button type="button" class="btn btn_add_type_product" onclick="showDialogAdd()" >+ Thêm loại sản phẩm</button>
</div>
<div class="bill_table">
    <div class="bill_table_header">
        <div class="row">
            <div class="col-md-2 bill_table_title">Số thứ tự</div>
            <div class="col-md-8 bill_table_title">Tên loại sản phẩm</div>
            <div class="col-md-2 bill_table_title">Thao tác</div>
        </div>
    </div>
    <div class="bill_table_content">
        @for (var index = 0; index < Model.Count(); index++)
        {
            var item = Model.ElementAt(index);
            <div class="row bill_table_content_row">
                <div class="col-md-2 bill_table_content_item">@(index + 1)</div>
                <div class="col-md-8 bill_table_content_item">@Html.DisplayFor(modelItem => item.TypeProductName)</div>
                <button type="button" class="col-md-2 btn_change_type bill_table_content_item" onclick="showDialogUpdate('@item.IdTypeProduct', '@item.TypeProductName')">Thay đổi</button>
            </div>
        }
        </div>
</div>



@*Dialog thay doi*@
<div class="modal" id="modal_dialog_update">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin loại sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group" hidden>
                        <input type="text" class="form-control" id="update_input_type_product_id">
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">Tên loại sản phẩm: </label>
                        <input type="text" class="form-control rounded-pill" id="update_input_type_product_name" placeholder="Nhập tên loại sản phẩm">
                        <span class="text-warning" id="notify_input_update"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary rounded-pill btn_tyeproduct_add" onclick="actionUpdateTypeProduct()">Cập nhật</button>
                <button type="button" class="btn btn-dark rounded-pill btn_typeproduct_cancel" onclick="actionDeleteTypeProduct()">Xóa</button>
            </div>
        </div>
    </div>
</div>

@*Dialog them loai san pham*@
<div class="modal fade" id="modal_dialog_add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo loại sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" hidden>
                        <input type="text" class="form-control" id="MaLoaiSanPham">
                    </div>

                    <div class="form-group">
                        <label class="form-label mt-4">Tên loại sản phẩm: </label>
                        <input type="text" class="form-control" id="add_input_type_product_name" placeholder="Nhập tên loại sản phẩm">
                        <span class="text-warning" id="notify_input_add"></span>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn_tyeproduct_add" onclick="actionAddTypeProduct()">Tạo mới</button>
                <button type="button" class="btn btn-secondary btn_typeproduct_cancel" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

@section Scripts  {
    <script src="~/Assets/scripts/ManagerTypeProduct.js"></script>
}